
body {
    font-family: Arial, sans-serif;
    margin: 0;
    background: url("images/salon.png") center/cover no-repeat;
    background-attachment: fixed; /* Optional: keeps it still while scrolling */
}
body::before {
    content: "";
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0,0,0,0.45); /* dark overlay */
    z-index: -1;
}
.container {
    display: flex;
    justify-content: center;
    padding: 40px 0;
}

.card {
    width: 100%;
    max-width:fit-content;
    padding: 40px;
    display: flex;
    gap: 40px;
    border-radius: 25px;
    color: white;
}

.left, .right {
    flex: 1;
}

h1 {
    margin-top: 0;
    font-size: 28px;
    font-weight: bold;
}

h3 {
    font-size: 14px;
    margin-bottom: 10px;
    margin-top: 25px;
    font-weight: bold;
}

input, select, textarea {
    width: 100%;
    padding: 14px;
    margin: 8px 0;
    border-radius: 25px;
    border: none;
    font-size: 14px;
}

.row {
    display: flex;
    gap: 10px;
}

.radio-group {
    display: flex;
    gap: 20px;
    margin-bottom: 15px;
}

.dispo-selects {
    display: flex;
    gap: 10px;
    align-items: center;
}

.btn-add {
    background: #5A28D9;
    color: white;
    border: none;
    padding: 10px 16px;
    border-radius: 20px;
    cursor: pointer;
}

.tag {
    display: inline-block;
    background: rgba(255,255,255,0.2);
    padding: 6px 12px;
    margin-right: 5px;
    border-radius: 20px;
}

textarea {
    height: 200px;
    resize: none;
    border-radius: 20px;
}

.btn-envoyer {
    background: #FFA726;
    border: none;
    padding: 16px 40px;
    border-radius: 25px;
    font-weight: bold;
    cursor: pointer;
    float: right;
}
